<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #222124d5;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(185, 38, 230);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }





  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <span>Dalal Ak Jamm</span>   <P>

    <mat-icon  matBadgeColor="warn">call </mat-icon>77-201-57-51 <br>
    <mat-icon  matBadgeColor="warn">email </mat-icon>theolaye@hotmail.fr
    <mat-icon  matBadgeColor="warn">location_on </mat-icon>Dakar-Sénégal

  <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above" >
    <button mat-menu-item>Acceuil</button>
    <button href="/suggestion" mat-menu-item>Suggestions</button>


  </mat-menu>
  <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
 

  
    <div class="spacer"></div>
    <mat-icon  matBadgeColor="warn">copyright</mat-icon><P>
      BABU
    </P>

</div>



<div class="container">

</div>


<iframe src="//cdn.bannersnack.com/banners/btk86mmco/embed/index.html?userId=41035124&t=1587246411" width="190" height="100" scrolling="yes" frameborder="0" allowtransparency="true" allow="autoplay" allowfullscreen="true"></iframe>
<hr>

<hr>
<div class="embed-responsive embed-responsive-16by9"><iframe width="640" height="390" src="https://EyeSpy360.vr-360-tour.com/e/UUsBcZm-XNU/e?initvars.autorotate.enabled=always" allowfullscreen allow="microphone; camera; gyroscope; accelerometer"></iframe>
</div>
<hr>

<br>
<div>
  <blockquote>
     <span class="quote">Woné.</span>
  </blockquote>

</div>
<br>
<br>
<div class="row mb-5">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12">

        <p class="h5 mb-4">Montagne</p>

        <div class="embed-responsive embed-responsive-16by9 z-depth-1">
          <iframe width="540" height="390" src="https://EyeSpy360.vr-360-tour.com/e/UUsBcZky8K0/e" allowfullscreen allow="microphone; camera; gyroscope; accelerometer"></iframe>
          
        </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6">

        <p class="h5 mb-4">.Vue panoramique d'un paysage <button mat-button mat-stroked-button color="primary" routerLink="/suggestion">VISITER</button>
        </p>

        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe height="390px" width="540" allowfullscreen="true" 
          src="https://momento360.com/e/u/1dbd0a0984b9489cb418f93450dbf415?utm_campaign=embed&utm_source=other&utm_medium=other&heading=0&pitch=0&field-of-view=75">
           </iframe>        </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6">

        <p class="h5 mb-4">.entrepot</p>

        <div class="embed-responsive embed-responsive-16by9 z-depth-2">
            <iframe height="390px" width="540" allowfullscreen="true"  src="https://momento360.com/e/u/7bd72302013041e98a61a8c99e0c0fa8?utm_campaign=embed&utm_source=other&heading=-19.5&pitch=-0.1&field-of-view=75" style="height: 101%" allowfullscreen></iframe>
        </div>

    </div>
    
    <!--Grid column-->

</div>
<!--Grid row-->

<!--Grid row-->
<div class="row mb-5">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12">




   
</div>
<p align="center"> <a href=""> <img width="400" src="assets/Untitled Design.png"> </a> </p>
<div class="content" role="main">

  <mat-card class="example-card">
 
    <mat-card-content>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <p>
        <i><mat-icon> </mat-icon></i> 
  
        <br>        
        
        <mat-list>

            <p-toast [style]="{marginTop: '80px'}"></p-toast>
            <h3 class="first">Présentation</h3>
            <p-tabView>
                <p-tabPanel header="Godfather I" leftIcon="pi pi-calendar">
                </p-tabPanel>
                <p-tabPanel header="Godfather II" leftIcon="pi pi-inbox">
                </p-tabPanel>
                <p-tabPanel header="Godfather III" leftIcon="pi pi-user" rightIcon="pi pi-star">

                  
                  </p-tabPanel>
            </p-tabView>
            

            <h1 class="section-heading pt-4">Pourquoi nous choisir?</h1>
            <!--Section description-->
            <mat-list-item>Woné est une application de réalitée Virtuelle destinée à améliorer   tout en offrant un rendu d'image à 360 degré         <mat-icon  matBadgeColor="warn">360 </mat-icon>
              Economiser du temps, réduisez vos déplacement    <mat-icon  matBadgeColor="warn">traffic </mat-icon> tout en découvrant divers place   <mat-icon  matBadgeColor="warn">place </mat-icon>.
              permettez  à vos futurs clients <mat-icon  matBadgeColor="warn">people </mat-icon> de découvrir les photos des chambres et de l’établissement <mat-icon  matBadgeColor="warn">home </mat-icon> comme s’ils y étaient, proposer une visite virtuelle des biens à louer ou à vendre.Vos produits <mat-icon>shopping_cart</mat-icon>   de façon complète <hr>
              .</mat-list-item>
              <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-bank blue-text"></i>
                </div>
            
            </div>
            <div class="row pb-3">
              <div class="col-2 col-md-1">
                  <i class="fa fa-code blue-text"></i>
              </div>
              <div class="col-10">
                  <h5 class="feature-title">Technology</h5>
                  <p class="grey-text">.Se faire une réelle idée d’un produit sur base d’une simple photo 2D ?</p>
              </div>
          </div>
          <div class="row pb-3">
            <div class="col-2 col-md-1">
                <i class="fa fa-money blue-text"></i>
            </div>
            <div class="col-10">
                <h5 class="feature-title">Finance</h5>
                <p class="grey-text">.Pour le client: une image 360° permet d’éliminer des produits qui ne l’intéressent pas, sans devoir se déplacer. <br>
                   <br><h5>Hôtels et hébergements :</h5> Permettez à vos futurs clients de découvrir les photos des chambres et de l’établissement comme s’ils y étaient.
                    Un vrai plus pour rassurer les consommateurs au moment de choisir leur futur séjour.</p>
                <br>
                <br>
               <h5>Boutique</h5>  présenter vos produits de façon complète, la présentation d’une boutique ou d’un magasin permet de rassurer le client 
               lorsqu’il cherche votre établissement sur Internet et peut l’inciter à venir visiter votre magasin.
               <h5>professionnels de l’automobile </h5>  présenter les voitures à 360°, extérieur et intérieur, est idéal pour se faire une idée réelle de l’apparence du véhicule.
             <br>
             <br>
             <h5> Restauration </h5> présenter son restaurant ou encore ses cuisines pour montrer les lieux, mais aussi l’ambiance ou le fonctionnement de l’établissement et attiser la curiosité de ses clients potentiels.
              </div>
              
        </div>
  
         
            <hr>
           
          
          
      

        </mat-list>
    
      </p>
    </mat-card-content>

  </mat-card>
  
  <hr>
  
  <hr>
  

 <hr>
 <hr>


     


<router-outlet></router-outlet>